<!-- Top Bar -->

<nav class="top-bar">
  <ul>
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="/">
          Siren Browser
        </a>
      </h1>
    </li>
    <li class="toggle-nav"><a href="#"></a></li>
  </ul>

  <section>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#">About</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>

<!-- End Top Bar -->


<!-- Main Page Content and Sidebar -->

<!-- Current URI -->
<div class="row collapse">
    <form>
      <fieldset>
        <legend>Current URI</legend>
        <div class="six columns">
          <input id='current_uri' type="text" placeholder="http://api.example.com" />
        </div>
        <div class="one columns">
          <a id='go_button' class="button expand success postfix">Go</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!-- properties -->
<div class="row">
  <div class="five columns">
    <h3>Properties</h3>
    <table id='properties' class="">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id='properties_body'>
        <tr>
          <td>name</td>
          <td>John Doe asda sdas das dasd asd</td>
        </tr>
        <tr>
          <td>name</td>
          <td>John Doe asda sdas das dasd asd</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="seven columns">
    <h3>Actions</h3>
    <table id='actions' class="">
      <thead>
        <tr>
          <th>Title</th>
          <th>Href</th>
          <th>Invoke</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Add Item</td>
          <td>http://api.example.com/orders/1/items</td>
          <td><a class="tiny button" href="#">POST</a></td>
        </tr>
        <tr>
          <td>Update Item</td>
          <td>http://api.example.com/orders/1/items/1</td>
          <td><a class="tiny button" href="#">PATCH</a></td>
        </tr>
        <tr>
          <td>Delete Item</td>
          <td>http://api.example.com/orders/1/items/1</td>
          <td><a class="tiny alert button" href="#">DELETE</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Entities -->
<div class="row">

  <div class="twelve columns">
    <h3>Entities</h3>
    <table id='entities' class="twelve">
      <thead>
        <tr>
          <th>Class</th>
          <th>Rel</th>
          <th>Href</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>info customer</td>
          <td>http://x.io/rels/customer</td>
          <td><a class='success' href="http://api.x.io/customers/pj123">http://api.x.io/customers/pj123</a></td>
          <td><span class='label'>embedded</span></td>
        </tr>
        <tr>
          <td>items collection</td>
          <td>http://x.io/rels/order-items</td>
          <td>http://api.x.io/orders/42/items</td>
          <td><span class='label'>link</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>




<!-- Links -->
<div class="row">

  <div class="twelve columns">
    <h3>Links</h3>
    <table id='links' class="twelve">
      <thead>
        <tr>
          <th>Rel</th>
          <th>Href</th>
        </tr>
      </thead>
      <tbody id='links_body'>
        <tr>
          <td>self</td>
          <td><a class='api_link' href='http://localhost:5100/users/1'>http://api.example.com/users/1</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Copyright <a href="http://wurl.com">Wurl</a>.</p>
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>
</footer>

<!-- End Footer -->
<script id='links_template' type="text/x-handlebars-template" />
{{#links}}
  <tr>
    <td>{{rel}}</td>
    <td><a class='api_link' href='{{href}}'>{{href}}</a></td>
  </tr>
{{/links}}
{{^links}}
  <tr>
    <td colspan="2" style='text-align:center'>
      no links
    </td>
  </tr>
{{/links}}
</script>

<script id='properties_template' type="text/x-handlebars-template" />
{{#key_value properties}}
  <tr>
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
{{/key_value}}
{{^properties}}
  <tr>
    <td colspan="2" style='text-align:center'>
      no properties
    </td>
  </tr>
{{/properties}}
</script>


